.headline {
  margin-bottom: 40px;
}

.headline-title {
  font-size: 80px;
  font-family: "Oswald", sans-serif;
  line-height: 1;

  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .headline-title {
    font-size: 60px;
  }
}

.headline-primary {
  color: var(--color-primary);
}

.headline-desc {
  color: var(--color-white-30);
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-input {
  flex-grow: 1;
  height: 50px;
  padding: 0 20px;

  border: none;
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-area);
}

.search-input::placeholder {
  color: var(--color-white-30);
}

.search-button {
  flex-grow: 1;
  max-width: 150px;
}

.movie-list {
  padding: 20px;
  border-radius: 4px;
  background-color: var(--color-area);
}

.message {
  color: var(--color-primary);
  font-size: 20px;
  text-align: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie {
  position: relative;

  --width: 200px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);

  border-radius: 4px;
  background-color: var(--color-black);
  background-size: cover;
  overflow: hidden;
}

.movie:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 6px solid var(--color-primary);
}

.movie-info {
  width: 100%;
  padding: 14px;

  font-size: 14px;
  text-align: center;

  position: absolute;
  left: 0;
  bottom: 0;

  background-color: rgba(14, 17, 27, 0.3);
  backdrop-filter: blur(10px);
}

.info-year {
  color: var(--color-primary);
}

.info-title {
  color: var(--color-white);
}

.view-more {
  display: block;

  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}

.view-more.hide {
  display: none;
}
