.home-container {
  max-width: 1120px;
  margin: auto;
  padding: 40px 0;
}

.headline {
  margin-bottom: 40px;
}

.headline-title {
  font-size: 80px;
  font-family: "Oswald", sans-serif;
  line-height: 1;

  margin-bottom: 40px;
}

.headline-primary {
  color: var(--color-primary);
}

.headline-desc {
  color: var(--color-white-30);
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-input {
  flex-grow: 1;
  height: 50px;
  padding: 0 20px;

  border: none;
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-area);
}

.search-input::placeholder {
  color: var(--color-white-30);
}

.search-button {
  flex-grow: 1;
  max-width: 150px;
}
