.movie-container {
  display: flex;
  gap: 70px;
  color: var(--color-white-50);
}

.poster {
  flex-shrink: 0;

  --width: 500px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);

  border-radius: 10px;
  background-size: cover;
  background-color: var(--color-area);
}

.desc {
  flex-grow: 1;
}

.title {
  margin-bottom: 30px;

  color: var(--color-white);
  font-size: 70px;
  font-family: "Oswald", sans-serif;
  line-height: 1;
}

.title.skeleton {
  height: 70px;
}

.labels {
  margin-bottom: 20px;
  color: var(--color-primary);
}

.labels.skeleton {
  height: 30px;
}

.plot.skeleton {
  width: 80%;
  height: 400px;
}

.detail-title {
  margin: 24px 0 6px;
  color: var(--color-white);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 1200px) {
  .movie-container {
    gap: 30px;
  }
  .poster {
    --width: 300px;
  }
}

@media (max-width: 720px) {
  .movie-container {
    display: block;
  }
  .title {
    font-size: 50px;
    margin-top: 50px;
  }
}
