.not-found-container {
  max-width: 1120px;
  margin: auto;
  padding: 40px 0 60px;
}

.not-found-message {
  font-size: 70px;
  font-weight: 700;
  color: var(--color-white-10);
  text-align: center;
}
